$verde: #008080;
$amarillo: rgb(218, 218, 141);
$red:rgb(56, 20, 20);
$gray: grey; 

@mixin margins($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

.jumbotron {
    background-color: $amarillo;
    text-align: center;
    @include margins(50px, 10px);   
}

.btn-reserva-icon {
    margin-right: 8px;
}
.card-hotel {
    flex: 1 200px;
    @include padding(2px, 0px, 2px, 0px);  
    @include margins(10px, 10px);  
}
.card-hotel h4 {
    color: $verde;
}
.btn-reserva {
    width: 100%;
    border-radius: 0;
    font-size: 18px;
    background-color: $verde;
    color: $amarillo;

}
footer {
    padding: 10px 10px 0 10px;
    background-color: $red;
    @include margins(10px, 30px);  
    color: $amarillo;
}
nav{
    color: $red;
}
footer a {
    color: $gray;
}
.footer-address-icon {
    padding-right: 30px;
    @include padding(0px, 30px, 0px, 0px);   
}
